.ingame-summary-wrapper {
  .game-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 19px;

    &:nth-child(odd) {
      background-color: $light-periwinkle;
    }

    &:nth-child(even) {
      background-color: $white;
    }
  }

  .game-header-holder {
    width: 21%;
  }

  .game-header-choices {
    width: 78%;
  }

  .game-bet-holder {
    padding-left: 0;
    padding-right: 0;
    width: 55px;
  }

  .radio-holder {
    justify-content: center;
    padding-right: 0;

    border-left: 1px solid #d4d8de;
    border-right: 0;
  }

  .t-game-team {
    &:first-child {
      padding-right: 0;
      margin-left: 15px;

      border-right: 0;

      .game-img-holder {
        position: relative;
        z-index: 2;
      }
    }

    &:last-child {
      .game-img-holder {
        margin-left: -15px;
      }

      .game-bet-holder {
        margin-right: 0;
      }
    }
  }

  .t-game-title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap; 

    text-overflow: ellipsis;
  }

  .t-game-sched {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1700px) {
  .ingame-summary-wrapper {
    .game-header-holder {
      width: 20%;
    }

    .game-header-choices {
      width: 78%;
    }
  }

  .content-collapsed {
    .ingame-summary-wrapper {
      .game-img {
        width: 31px;
      }

      .t-game-title {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .ingame-summary-wrapper {
    .game-bet-holder {
      width: 40px;
    }

    .t-game-team {
      &:first-child {
        .name-bet-holder {
          margin-left: 4px;
        }
      }

      &:last-child {
        .name-bet-holder {
          margin-right: 4px;
        }
      }
    }

    .t-game-team {
      font-size: 12px;
    }
  }
}

@include respond-to(md-down) {
  .ingame-summary-wrapper {
    .game-holder {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .game-header-holder,
    .game-header-choices {
      width: 100%;
    }

    .game-img {
      width: 35px;
    }

    .radio-holder {
      padding-left: 0;
      padding-right: 0;

      border-left: 0;
    }
  }
}

@include respond-to(md) {
  .ingame-summary-wrapper {
    .t-game-team:last-child {
      .game-bet-holder {
        margin-left: 19px;
      }
    }
  }
}

@include respond-to(sm-down) {
  .ingame-summary-wrapper {
    .game-holder {
      padding-left: 10px;
      padding-right: 10px;
    }

    .game-img-holder {
      margin-right: 0;
    }

    .t-game-team {
      &:last-child {
        .t-team-name {
          text-align: left;
        }
      }
    }

    .t-team-name {
      margin-bottom: 2px;
      width: 100%;

      text-align: right;
    }
  }
}
