.game-holder {
  .accordion__item {
    margin-bottom: 0;

    &:nth-child(odd) {
      background-color: $light-periwinkle;
    }

    &:nth-child(even) {
      background-color: $white;
    }
  }

  .accordion__panel {
    &:before {
      display: none;
    }

    & > div:first-child {
      width: 100%;
    }
  }
  
  .accordion__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;

    background-color: transparent;
  }
  
  .game-header-holder {
    width: 14%;
  }
  
  .game-header-choices {
    width: 80%;

    text-align: center;
  }

  .game-header-stats {
    width: 6%;

    text-align: center;
  }

  .game-img-holder {
    margin-left: 16px;
  }

  .radio-holder {
    display: flex;
    justify-content: center;

    border-right: 1px solid $black-magic;
  }

  .name-bet-holder {
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
  }

  .margin-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px 0;
    width: 100%;

    background-color: $solitude-grey;
  }

  .quantity-holder {
    padding: 5px;
    width: 53px;

    font-size: 16px;
    text-align: center;
    color: $black;

    background-color: $white;
    border: 1px solid $black-magic;
  }

  .incrementers-holder {
    display: flex;
    align-items: center;
  }
  
  .t-game-title {
    margin-bottom: 0;
  
    font-size: 15px;
    font-weight: 600;
  }
  
  .t-game-sched {
    margin-top: 5px;
    margin-bottom: 0;
  
    font-size: 14px;
    color: $periwinkle;
  } 

  .t-game-team {
    display: flex;
    align-items: center;
    padding-left: 39px;

    font-weight: 600;

    pointer-events: initial;

    &:first-child {
      padding-right: 13px;

      border-right: 1px solid $black-magic;
    }

    &:last-child {
      padding-left: 0;
      padding-right: 39px;
      flex-direction: row-reverse;

      .radiomark {
        left: initial;
        right: 0
      }

      .game-bet-holder {
        margin-right: 19px;
      }

      .game-img-holder {
        margin-right: 16px;
      }
    }
  }

  .t-margin-text {
    margin-right: 10px;

    font-weight: 200;
  }

  .t-md-down {
    display: none;
  }

  .custom-checkbox {
    .radiomark {
      top: 50%;

      transform: translateY(-50%);
    }
  }

  .btn-incrementers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    width: 25px;
    height: 25px;

    color: $hawkes-light-blue;

    background-color: $light-periwinkle;
    border: 1px solid $black-magic;
    border-radius: 100%;

    cursor: pointer;
  }

  ///Accordion within accordion
  .accordion {
    padding: 0;
  }

  .accordion__button {
    display: flex;
    align-items: center;
    padding: 17px 20px;

    outline: 0;

    pointer-events: none;
  }

  .accordion__item {

    &:nth-child(odd) {
      background-color: $light-periwinkle;
    }
  }
}

.game-bet-holder {
  padding: 6px 15px;
  margin-left: 19px;

  font-weight: 500;

  background-color: $pantone;
  border-bottom: 2px solid $royal-azure;
}

@media screen and (max-width: 1440px) {
  .game-holder {
    .accordion__button {
      & > div {
        margin-bottom: 15px;
      }
    }

    .game-header-holder {
      width: 100%;
    }

    .game-header-choices {
      width: 91%;
    }

    .game-bet-holder {
      padding-left: 0;
      padding-right: 0;
      width: 73px;
    }

    .radio-holder {
      justify-content: flex-start;
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .game-holder {
    .t-game-team {
      font-size: 12px;
    }

    .t-game-sched {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 400px) {
  .game-holder {
    .t-game-team {
      &:first-child {
        .name-bet-holder {
          padding-left: 15px;
          margin-left: 7px;
        }
      }

      &:last-child {
        .name-bet-holder {
          padding-right: 15px;
          margin-right: 7px;
        }
      }
    }
  }
}

@include respond-to(xl) {
  .game-holder {
    .radio-holder {
      padding-right: 20px;
    }
  }
}

@include respond-to(lg-down) {
  .game-holder {
    .t-game-team {
      font-size: 13px;
    }
  }
}

@include respond-to(lg) {
  .game-holder {
    .radio-holder {
      padding-right: 13px;
    }
  }
}

@include respond-to(md-down) {
  .game-holder {
    .game-header-holder {
      order: 1;
      width: 80%;
    }

    .game-header-stats {
      order: 2;
      width: 20%;
    }

    .game-header-choices {
      order: 3;
      width: 100%;
    }

    .radio-holder {
      justify-content: center;

      border-right: 0;
    }

    .name-bet-holder {
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    .t-lg-up {
      display: none;
    }

    .t-game-team {
      &:first-child {
        border-right: 0;
      }

      &:last-child {
        .game-bet-holder {
          margin-left: 0;
        }

        .name-bet-holder {
          justify-content: flex-start;
        }

        .t-md-down {
          text-align: left;
        }
      }
    }

    .t-md-down {
      display: block;
      margin-bottom: 5px;
      width: 100%;

      text-align: right;
    }
  }
}

@include respond-to(md) {
  .game-holder {
    .t-game-team {
      padding-left: 25px;

      &:last-child {
        padding-right: 25px;
      }
    }
  }
}

@include respond-to(sm-down) {
  .game-holder {
    .game-bet-holder {
      padding-top: 2px;
      padding-bottom: 2px;
      margin-left: 0;
      width: 42px;

      font-size: 12px;
    }

    .game-img-holder {
      margin-right: -9px;
    }

    .game-img {
      width: 29px;
    }

    .radio-holder {
      padding-right: 0;
    }

    .t-game-team {
      padding-left: 24px;
      padding-right: 0;

      &:first-child {
        padding-right: 0;

        .game-img-holder {
          position: relative;
          z-index: 2;
        }

        .name-bet-holder {
          margin-left: 15px;
          border-left: 1px solid $black-magic;
        }
      }

      &:last-child {
        padding-right: 24px;

        .game-bet-holder {
          margin-right: 0;
        }

        .game-img-holder {
          margin-left: 0;
          margin-right: 16px;
        }

        .name-bet-holder {
          margin-right: 15px;

          border-right: 1px solid $black-magic;
        }
      }
    }

    .t-game-sched {
      font-size: 13px;
    }
  }
}

