.subheader-pills {
  background: $bluish-white;

  .subheader-pills-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 2px 29px;
    margin: auto;
    width: 100%;
  }

  .subheader-pills-title {
    padding: 20px 0;

    font-size: 17px;
    font-weight: 900;
  }

  .subheader-pills-holder {
    width: 11%;
  }

  .subheader-pills-search {
    position: relative;

    margin-right: 130px;
  }

  .subheader-pills-tabs {
    padding: 13px 0 26px;
    margin: auto;
    width: 100%;
  }

  .sidebar-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;

    border-radius: 5px;

    cursor: pointer;
  }

  .icon-holder {
    width: 25%;
  }

  .label {
    font-size:  19px;
    font-weight: 900;
    color: $black;
  }

  .icon svg {
    path {
      fill: $golden-fizz;
    }
  }

  .icon-basketball svg {
    circle {
      fill: $golden-fizz;
    }

    path {
      fill: $bermuda-grey
    }
  }

  .form-search {
    padding: 20px;
    width: 300px;
    height: 45px;

    font-size:  15px;

    background: $hawkes-blue;
    border: 1px solid transparent;
    border-radius: 30px;
    outline: none;

    &::placeholder {
      color: $light-violet;
    }
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: 25px;

    color: $liberty-mid-blue;

    transform: translateY(-66%);
  }

  .links-holder {
    display: flex;
    flex-wrap: wrap;
    padding: 14px 0 18px 20px;
    overflow-x: scroll;

    border-top: 1px solid $hawkes-blue;
    border-bottom: 1px solid $hawkes-blue;

    &::-webkit-scrollbar {
      height: 0;
    }
  }

  .links-holder-item {
    padding: 0.5rem 1rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    
    font-size: 16px;
    color: $liberty-mid-blue;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;

    border-color: transparent;

    transition: all .3s ease-in;

    cursor: pointer;
  }

  .active {
    color: $white;

    background: $liberty-mid-blue;
    border-radius: 30px;
  }

  .carousel-wrapper {
    padding-top: 4px;
    padding-left: 29px;
    margin-top: 20px;
    margin-right: auto;
    width: 90.5%;

    text-align: center;

    .carousel {
      width: 100%;

      &-indicators {
        justify-content: flex-end;
        margin-right: 19px;
        // margin-left: 3%;

        li {
          margin-left: 0 5px;
          width: 13px;
          height: 13px;

          border-radius: 50%;
        }
      }

      &-control-prev,
      &-control-next {
        display: none;
      }

      .active {
        background: $white;
      }
    }
  }

  .carousel-hide {
    display: none;
  }
}

@include respond-to(lg-down) {
  .subheader-pills {
    .subheader-pills-wrapper,
    .carousel-wrapper {
      padding-left: 15px;
      padding-right: 15px;
    }

    .links-holder {
      flex-wrap: initial;
      padding: 18px 15px;
      width: 100%;
      overflow-x: auto;
    }
  }
}

@include respond-to(lg) {
  .subheader-pills {
    .subheader-pills-search {
      margin-right: 67px;
    }

    .label {
      margin-left: 5px;
    }
  }
}

@include respond-to(md-down) {
  .subheader-pills {
    .subheader-pills-holder {
      width: 35%;
    }

    .subheader-pills-search {
      margin-right: 0;
    }

    .form-search {
      font-size: 16px;
    }

    .label {
      font-size: 15px;
    }

    .carousel-wrapper {
      width: 100%;
    }
  }
}

@include respond-to(sm-down) {
  .subheader-pills {
    .subheader-pills-wrapper {
      display: none;
    }

    .subheader-pills-tabs {
      padding: 0;
    }

    .links-holder {
      padding-bottom: 0;

      background-color: $royal-blue;
    }

    .links-holder-item {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      height: 60px;

      text-align: center;
    }

    .active {
      background: none;
      border-bottom: 5px solid #ed1c24;
      border-radius: 0;
    }

    // .carousel-wrapper {
    //   padding-top: 0;
    //   padding-left: 0;
    //   margin-top: 0;
    //   width: 100%;
    // }

    .carousel-img {
      border-radius: 0;
    }
  }
}
