.btn {
  font-family: $font-gotham;
  font-weight: 500;
  text-transform: uppercase;

  background-color: transparent;
  border: 0;
  border-radius: 3px;

  transition: all .3s ease-in-out;
}

.btn-blue {
  @extend .btn;

  padding: 13px;

  font-size: 14px;
  color: $white;

  background-color: $blue;
  border: 1px solid transparent;
  border-radius: 5px;

  @include on-event {
    color: $blue;

    background-color: transparent;
    border-color: $blue;
  }
}

.btn-fb {
  @extend .btn;

  padding: 13px;

  font-size: 14px;

  background-color: $fb-blue;
  border: 1px solid transparent;
  border-radius: 5px;

  @include on-event {
    color: $fb-blue;

    background-color: transparent;
    border: 1px solid $fb-blue;
  }

  // &:before {
    // content: '\f39e';
  // }
}

.btn-google {
  @extend .btn;

  padding: 13px;

  font-size: 14px;

  background-color: $cinnabar-red;
  border: 1px solid transparent;
  border-radius: 5px;

  @include on-event {
    color: $cinnabar-red;

    background-color: transparent;
    border: 1px solid $cinnabar-red;
  }
}

.btn-inverted-blue {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}

.btn-inverted-gray {
  color: $text-color;

  @include on-event {
    text-decoration: none;
    color: $blue;

    transition: all .3s ease-in-out;
  }
}

.btn-close {
  position: absolute;

  top: 22px;
  right: 32px;

  height: 19px;
  width: 2px;

  &:before,
  &:after {
    content: '';

    position: absolute;

    height: 19px;
    width: 2px;
    background-color: $black;

    border-radius: 40px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  @include on-event {
    &:before,
    &:after {
      background-color: $blue;

      transition: all .3s ease-in-out;
    }
  }
}

.i-right-arrow {
  position: absolute;

  width: 17px;
  height: 17px;

  border-left: 3px solid $black;
  border-bottom: 3px solid $black;

  transform: rotate(45deg);

  @include on-event {
    border-left: 3px solid $blue;
    border-bottom: 3px solid $blue;

    transition: all .3s ease-in-out;
  }
}