//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Gotham Font Family
$font-gotham: 'Gotham';

/// Regular font family
/// @type List
$text-font-stack: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #222 !default;

/// Main brand color
/// @type Color
$brand-color: #E50050 !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;

// Other Variables

$white: #ffffff;
$black: #000000;

$blue: #1e47bd;
$royal-azure: #1d47bc;
$egyptian-blue: #1c233a;
$royal-blue: #131a2a;
$liberty-blue: #39486b;
$liberty-mid-blue: #63759c;
$fb-blue: #3b5999;
$perano: #94abec;
$savoy-blue: #202c46;
$bluish-white: #eef1f8;
$hawkes-blue: #d2d6e0;
$hawkes-light-blue: #dddee0;
$cadet-blue: #a4afc7;
$solitude-blue: #f2f4f7;
$black-magic: #d4d8de;

$white-smoke: #f3f3f3;
$link-water: #d9dbe0;

$black-pearl: #131a29;

$periwinkle: #7382a1;
$hemp: #7482A2;
$light-violet: #8c97af;
$light-periwinkle: #f2f4f7;

$gray: #ebebeb;
$gray-nobel: #a2a2a2;
$dark-gray: #a3a3a3;
$silver: #bababa;
$gray-snow: #f9f9f9;
$bermuda-grey: #394650;
$solitude-grey: #e3e7ed;
$pantone: #e0e6f0;


$bright-red: #cc2341;
$cinnabar-red: #df4b38;
$bittersweet-red: #ff6565;

$golden-fizz: #E47E26;

$green: #0ab53a;

$seal-brown: #131313;

$yellow-green: #63bc44;
